
    <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/User/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Services</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What we do?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                    <div class="ss-pic">
                    <img src="/User/img/services/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Personal training</h4>
                        <p>
                        Get personalized workouts tailored to your fitness goals.
                        </p>
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                    <div class="ss-pic">
                    <img src="/User/img/services/services-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Group fitness classes</h4>
                    <p>Stay motivated and fit with fun, energetic group sessions.</p>
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                    <div class="ss-pic">
                    <img src="/User/img/services/services-4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Body building</h4>
                        <p>
                        Get personalized workouts tailored to your fitness goals.
                        </p>
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                    <div class="ss-pic">
                    <img src="/User/img/services/services-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Strength training</h4>
                    <p>Build strength and improve endurance with guided workouts.</p>
                        <a href="#">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    <!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="/User/img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text service-banner">
                        <h2>Exercise until the body obeys.</h2>
                        <div class="bt-tips">Where health, beauty and fitness meet.</div>
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Pricing Section Begin -->
    @* <section class="pricing-section service-pricing spad"> *@
    @*     <div class="container"> *@
    @*         <div class="row"> *@
    @*             <div class="col-lg-12"> *@
    @*                 <div class="section-title"> *@
    @*                     <span>Our Plan</span> *@
    @*                     <h2>Choose your pricing plan</h2> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*         <div class="row justify-content-center"> *@
    @*             <div class="col-lg-4 col-md-8"> *@
    @*                 <div class="ps-item"> *@
    @*                     <h3>Class drop-in</h3> *@
    @*                     <div class="pi-price"> *@
    @*                         <h2>$ 39.0</h2> *@
    @*                         <span>SINGLE CLASS</span> *@
    @*                     </div> *@
    @*                     <ul> *@
    @*                         <li>Free riding</li> *@
    @*                         <li>Unlimited equipments</li> *@
    @*                         <li>Personal trainer</li> *@
    @*                         <li>Weight losing classes</li> *@
    @*                         <li>Month to mouth</li> *@
    @*                         <li>No time restriction</li> *@
    @*                     </ul> *@
    @*                     <a href="#" class="primary-btn pricing-btn">Enroll now</a> *@
    @*                     <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-4 col-md-8"> *@
    @*                 <div class="ps-item"> *@
    @*                     <h3>12 Month unlimited</h3> *@
    @*                     <div class="pi-price"> *@
    @*                         <h2>$ 99.0</h2> *@
    @*                         <span>SINGLE CLASS</span> *@
    @*                     </div> *@
    @*                     <ul> *@
    @*                         <li>Free riding</li> *@
    @*                         <li>Unlimited equipments</li> *@
    @*                         <li>Personal trainer</li> *@
    @*                         <li>Weight losing classes</li> *@
    @*                         <li>Month to mouth</li> *@
    @*                         <li>No time restriction</li> *@
    @*                     </ul> *@
    @*                     <a href="#" class="primary-btn pricing-btn">Enroll now</a> *@
    @*                     <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-4 col-md-8"> *@
    @*                 <div class="ps-item"> *@
    @*                     <h3>6 Month unlimited</h3> *@
    @*                     <div class="pi-price"> *@
    @*                         <h2>$ 59.0</h2> *@
    @*                         <span>SINGLE CLASS</span> *@
    @*                     </div> *@
    @*                     <ul> *@
    @*                         <li>Free riding</li> *@
    @*                         <li>Unlimited equipments</li> *@
    @*                         <li>Personal trainer</li> *@
    @*                         <li>Weight losing classes</li> *@
    @*                         <li>Month to mouth</li> *@
    @*                         <li>No time restriction</li> *@
    @*                     </ul> *@
    @*                     <a href="#" class="primary-btn pricing-btn">Enroll now</a> *@
    @*                     <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@

<section class="pricing-section spad">
    <div class="container" id="plans">

        <div class="section-title">
            <span>OUR PLAN</span>
            <h2>Choose your pricing plan</h2>
        </div>

        <div class="plan-slider owl-carousel">

            @if (Model != null && Model.Count > 0)
            {
                foreach (var plan in Model)
                {
                    <div class="ps-item">

                        <h3>@plan.PlanName</h3>

                        <div class="pi-price">
                            <h2>₹ @plan.Price</h2>
                            <span>@plan.Duration Months</span>
                        </div>

                        <ul>
                            <li>@plan.Features</li>
                        </ul>

                        <!-- ✅ FIXED FORM -->
                        <form action="/User/JoinPlan" method="post">

                            <input type="hidden" name="id" value="@plan.PlanId" />

                            <button type="submit" class="primary-btn pricing-btn"
                                    style="position:relative; z-index:999;">
                                JOIN NOW
                            </button>

                        </form>

                    </div>
                }
            }
            else
            {
                <div class="text-center text-white">
                    <h5>No Plans Available</h5>
                </div>
            }

        </div>

    </div>
</section>
    <!-- Pricing Section End -->

<script>
    $(document).ready(function () {

        $(".plan-slider").owlCarousel({
            items: 3,
            loop: true,
            margin: 30,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,

            navText: [
                "<span class='arrow-btn left'><i class='fa fa-angle-left'></i></span>",
                "<span class='arrow-btn right'><i class='fa fa-angle-right'></i></span>"
            ],

            responsive: {
                0: { items: 1 },
                768: { items: 2 },
                992: { items: 3 }
            }
        });

    });
</script>